html {
    /* background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: linear-gradient(blue, violet); */
    background: rgb(240,155,192);
    background: radial-gradient(circle, rgba(240,155,192,1) 16%, rgba(148,187,233,1) 100%);
}

#main-div {
    width: 70%;
    display: inline-block;
    margin-left: 3%;
    margin-top: 5%;
}

/*Navigation Bar*/
#nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#nav-bar-left {
    width: 40%;
}

#nav-bar-right {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#logo {
    width: 100%;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    gap: 5px;
    transition: 0.3s ease-in-out;
}

#icon {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3%;
}

#icon i {
    animation: rotating 1s ease-in-out infinite ;

}

@keyframes rotating {
    0% {
        transform: rotate(0deg);
    }
    
    12.5% {
        transform: rotate(15deg);
    }

    25% {
        transform: rotate(30deg);
    }

    37.5% {
        transform: rotate(15deg);
    }   

    50% {
        transform: rotate(0deg);
    }

    62.5% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(-30deg);
    }

    87.5% {
        transform: rotate(-15deg);
    }

    100% {
        transform: rotate(0deg);        
    }
}

#logo h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}

#logo h3:hover {
    text-shadow: 1px 1px white;
}

#logo h4 {
    margin-bottom: 0px;
    margin-top: 0px;
}

#logo h4:hover {
    text-shadow: 1px 1px white;
}

#search-bar {
    position: relative;
    width: 50%;
}

#search-bar input {
    width: 100%;
    height: 30px;
    text-align: center;
    /* border: none; */
    border-radius: 18px;
}

.glass {
    position: absolute;
    top: 6px;
    left: 10px;
}

.microphone {
    position: absolute;
    top: 6px;
    right: 22px;
}

#notification {
    display: flex;
    gap: 0.4em;
}

#profile img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

/* Headings */
.heading {
    font-size: x-large;
    font-weight: bold;
}

/* Carousel */
#carousel {
    margin-left: auto;
    margin-right: auto;
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.carousel-card {
    height: 80%;
    width: 20%;
    transition: 0.2s ease-in-out;
}

.carousel-card img{
    height: 100%;
    width: 100%;
}

.carousel-card:hover {
    height: 100%;
    width: 30%;
}

/* Latest Release  */
#latest-released-songs {
    margin-left: 3%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cols {
    margin-left: 0px;
    margin-right: 0px;
    width: 30%;
    height: 100%;
}

.latest-song {
    margin-bottom: 2%;
    padding: 2% 3%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: ease-in-out;
}

.latest-song:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 2px solid black;
}

.latest-left {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2%;
    align-items: center;
}

.released-song-img img{
    height: 80px;
    width: 80px;
}

.released-song-name p{
    font-weight: bold;
    font-size: large;
    margin-bottom: 0px;
}

.released-song-date p{
    font-weight: bold;
    font-size: medium;
    margin-top: 0px;
}

/* Popular Artists Card*/
#popular-artists {
    width: 100%;
}

#artists {
    display: flex;
    gap: 3%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 3%;
    margin-right: 3%;
}

.artist {
    transition: ease-in-out;
}

.artist:hover {
    transform: scale(0.6 0.6);
}

.artist-photo img{
    height: 110px;
    width: 110px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.artist-photo img:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 50px;
    border: 3px solid rgb(32, 31, 31);
}

.artist-name h4 {
    text-align: center;

}

/* Genere */
#genere {
    width: 100%;
    height: 50vh;
}

#stations {
    width: 100%;
    height: 60%;
    border-radius: 2%;
    background-image: linear-gradient(135deg, #2857a4, #403066);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

#stations #div1 {
    margin: auto;
    width: 12vw;
    height: 8vw;
    background-color: #7467c5d6;
}   

#stations #div2 {
    position: relative;
    top: -1vw;
    left: 1vw;
    width: 10vw;
    height: 10vw;
    background-color: lightgreen;
}

#stations #div3 {
    position: relative;
    top: -1vw;
    left: 1vw;
    width: 8vw;
    height: 12vw;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div3 img {
    height: 60px;
    width: 60px;
}

#div3 p {
    margin-top: 1px;
    color: white;
    font-weight: bold;
}

#main-theme {
    margin: auto;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    gap: 2%;
}

#theme1 {
    position: relative;
}

.theme1-image {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.theme1-image:hover{
    transform: scale(0.9, 0.9);
    border: 5px solid black;
    box-shadow: rgba(255, 255, 255, 0.35) 0px 0px 50px;
}

/* Music-Theme 2 */
#music-theme2 {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.music-theme2 {
    position: relative;
    width: 30%;
    height: 100%;
}

.theme2-image {
    margin: 3% 0%;
    height: 100%;
    width: 100%;
    transition: 0.2s ease-in-out;
}

.theme2-image:hover {
    transform: scale(0.9, 0.9);
    border: 5px solid black;
    box-shadow: rgb(44, 43, 43) 0px 0px 50px;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.theme-name p{
    color: rgb(243, 236, 236);
    font-weight: bold;
    font-size: xx-large;
    text-shadow: 2px 2px 2px black;
}


/* Latest Song Card*/
#latest-songs {
    width: 100%;
}

.card-img img{
    height: 100px;
    width: 100px;
    transition: 0.1s ease-in-out;
}

.card-img img:hover {
    border: 4px solid black;

}

.cards {
    display: flex;
    gap: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.song-details h4 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.song-details h5 {
    margin-top: 2px;
    margin-bottom: 0px;
}


/* Aside Section */
aside {
    display: inline-block;
    vertical-align: top ;
    width: 20%;
    margin-left: 3%;
    margin-top: 2%;
}

#queue-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Song */
.song {
    width: 102%;
    padding: 1% 3%;
    padding-right: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    transition: 1s easy-in-out;
}

.song:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border: 2px solid black;
}

.song-img img{
    height: 45px;
    width: 45px;
    border-radius: 10px;
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4%;
    width: 90%;
}

.song-name {
    font-weight: bold;
    font-size: large;
}

.like-button {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Adding Media Query */
@media screen and (max-width: 1785px) {
    #theme1-element-remove1 {
        display: none;
    }
}

@media screen and (max-width: 1384px) {
    .theme1-image {
        height: 150px;
        width: 150px;
    }
}

@media screen and (max-width: 1157px) {
    .theme1-image {
        height: 120px;
        width: 120px;
    }
}

@media screen and (max-width: 1100px) {
    /* Latest-Release */
    #latest-song-col1 {
        display: none;
    }

    .cols {
        width: 45%;
        height: 100%;
    }
}

@media screen and (max-width: 1000px) {
    aside {
        display: none;
    }

    #main-div {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    /* Latest-Release */
    #latest-song-col {
        display: none;
    }

    #notification-remove {
        display: none;
    }

    .cols {
        width: 45%;
        height: 100%;
    }
}

@media screen and (max-width: 600px) {
    /* Theme2-Name */
    .theme-name p{
        font-size: x-large;
    }

    /* genre */
    .theme1-image {
        height: 100px;
        width: 100px;
    }
}


